In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('smoke_detection_iot.csv')
df.head()

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [3]:
# check null 
df.isnull().sum()

Unnamed: 0        0
UTC               0
Temperature[C]    0
Humidity[%]       0
TVOC[ppb]         0
eCO2[ppm]         0
Raw H2            0
Raw Ethanol       0
Pressure[hPa]     0
PM1.0             0
PM2.5             0
NC0.5             0
NC1.0             0
NC2.5             0
CNT               0
Fire Alarm        0
dtype: int64

In [4]:
df.dropna()
df.duplicated(keep= False)

0        False
1        False
2        False
3        False
4        False
         ...
62625    False
62626    False
62627    False
62628    False
62629    False
Length: 62630, dtype: bool

In [5]:
# drop cột số thứ tự
df.drop(columns = ['Unnamed: 0','UTC'],axis = 1,inplace = True)
df.head()

,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [6]:
# tính covariance
def cov_value(x, y):
    mean_x = sum(x) / float(len(x))
    mean_y = sum(y) / float(len(y))

    sub_x = [i - mean_x for i in x]
    sub_y = [i - mean_y for i in y]

    sum_value = sum([sub_y[i] * sub_x[i] for i in range(len(x))])
    denom = float(len(x) - 1)

    cov = sum_value / denom
    return cov


# tính corr theo công thức
def correlation(x, y):
    cov_x = cov_value(x, x)
    cov_y = cov_value(y, y)
    return cov_value(x, y) / np.sqrt(cov_x * cov_y)

In [7]:
x = df.drop(labels='Fire Alarm', axis =1)
y = df['Fire Alarm']
print(x)
print(y)

       Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]  Raw H2  Raw Ethanol  \
0              20.000        57.36          0        400   12306        18520
1              20.015        56.67          0        400   12345        18651
2              20.029        55.96          0        400   12374        18764
3              20.044        55.28          0        400   12390        18849
4              20.059        54.69          0        400   12403        18921
...               ...          ...        ...        ...     ...          ...
62625          18.438        15.79        625        400   13723        20569
62626          18.653        15.87        612        400   13731        20588
62627          18.867        15.84        627        400   13725        20582
62628          19.083        16.04        638        400   13712        20566
62629          19.299        16.52        643        400   13696        20543

       Pressure[hPa]  PM1.0  PM2.5  NC0.5  NC1.0  NC2.5   CNT
0            939.735   0.00   0.00   0.00  0.000  0.000     0
1            939.744   0.00   0.00   0.00  0.000  0.000     1
2            939.738   0.00   0.00   0.00  0.000  0.000     2
3            939.736   0.00   0.00   0.00  0.000  0.000     3
4            939.744   0.00   0.00   0.00  0.000  0.000     4
...              ...    ...    ...    ...    ...    ...   ...
62625        936.670   0.63   0.65   4.32  0.673  0.015  5739
62626        936.678   0.61   0.63   4.18  0.652  0.015  5740
62627        936.687   0.57   0.60   3.95  0.617  0.014  5741
62628        936.680   0.57   0.59   3.92  0.611  0.014  5742
62629        936.676   0.57   0.59   3.90  0.607  0.014  5743

[62630 rows x 13 columns]
0        0
1        0
2        0
3        0
4        0
        ..
62625    0
62626    0
62627    0
62628    0
62629    0
Name: Fire Alarm, Length: 62630, dtype: int64

In [14]:
from sklearn.metrics import accuracy_score,classification_report
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE

In [15]:
#ham split train test
def shuffle_split_data(X, y):
    arr_rand = np.random.rand(X.shape[0])
    split = arr_rand < np.percentile(arr_rand, 70)
    #split = np.random.rand(X.shape[0]) < 0.7

    X_Train = X[split]
    y_Train = y[split]
    X_Test =  X[~split]
    y_Test = y[~split]
    return X_Train, y_Train, X_Test, y_Test

In [16]:
df = pd.read_csv('smoke_detection_iot.csv')
df.head()

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [17]:
df.drop(columns = ['Unnamed: 0','UTC'],axis = 1,inplace = True)
df.drop(columns = ['NC1.0','PM1.0'],axis = 1,inplace =True)

In [18]:
X=df.drop(columns = ['Fire Alarm'])
y=df['Fire Alarm']
scale = MinMaxScaler()
X_scaled=pd.DataFrame(scale.fit_transform(X),columns=X.columns)
x_train,y_train,x_test,y_test = shuffle_split_data(X_scaled,y)
print(x_train,y_train,x_test,y_test)

       Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]    Raw H2  \
0            0.512692     0.723239   0.000000        0.0  0.522488
2            0.513046     0.701520   0.000000        0.0  0.544179
3            0.513229     0.690971   0.000000        0.0  0.549282
4            0.513412     0.681818   0.000000        0.0  0.553429
6            0.513766     0.665064   0.000000        0.0  0.562679
...               ...          ...        ...        ...       ...
62623        0.488431     0.078188   0.010833        0.0  0.968102
62626        0.496253     0.079584   0.010200        0.0  0.977033
62627        0.498865     0.079119   0.010450        0.0  0.975120
62628        0.501501     0.082222   0.010633        0.0  0.970973
62629        0.504137     0.089668   0.010717        0.0  0.965869

       Raw Ethanol  Pressure[hPa]     PM2.5     NC0.5         NC2.5       CNT
0         0.525685       0.986014  0.000000  0.000000  0.000000e+00  0.000000
2         0.565731       0.986347  0.000000  0.000000  0.000000e+00  0.000080
3         0.579682       0.986125  0.000000  0.000000  0.000000e+00  0.000120
4         0.591498       0.987013  0.000000  0.000000  0.000000e+00  0.000160
6         0.613983       0.986347  0.000000  0.000000  0.000000e+00  0.000240
...            ...            ...       ...       ...           ...       ...
62623     0.858198       0.646132  0.000015  0.000074  5.328637e-07  0.229544
62626     0.865091       0.646687  0.000014  0.000068  4.995598e-07  0.229664
62627     0.864106       0.647686  0.000013  0.000064  4.662558e-07  0.229704
62628     0.861480       0.646909  0.000013  0.000064  4.662558e-07  0.229744
62629     0.857706       0.646465  0.000013  0.000063  4.662558e-07  0.229784

[43841 rows x 11 columns] 0        0
2        0
3        0
4        0
6        0
        ..
62623    0
62626    0
62627    0
62628    0
62629    0
Name: Fire Alarm, Length: 43841, dtype: int64        Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]    Raw H2  \
1            0.512875     0.712535   0.000000        0.0  0.534928
5            0.513583     0.672975   0.000000        0.0  0.558533
7            0.513949     0.658703   0.000000        0.0  0.564912
15           0.515365     0.624418   0.000000        0.0  0.576396
18           0.515890     0.616661   0.000000        0.0  0.578309
...               ...          ...        ...        ...       ...
62615        0.467940     0.078033   0.010283        0.0  0.977352
62616        0.470466     0.077723   0.010783        0.0  0.970335
62617        0.473005     0.077412   0.010983        0.0  0.970335
62624        0.491030     0.078653   0.010500        0.0  0.973206
62625        0.493629     0.078343   0.010417        0.0  0.974482

       Raw Ethanol  Pressure[hPa]     PM2.5     NC0.5         NC2.5       CNT
1         0.547185       0.987013  0.000000  0.000000  0.000000e+00  0.000040
5         0.604136       0.984904  0.000000  0.000000  0.000000e+00  0.000200
7         0.623174       0.988567  0.000000  0.000000  0.000000e+00  0.000280
15        0.663877       0.986680  0.000059  0.000000  6.524250e-05  0.000600
18        0.673724       0.988900  0.000046  0.000000  5.135474e-05  0.000720
...            ...            ...       ...       ...           ...       ...
62615     0.863614       0.640693  0.000011  0.000055  3.996478e-07  0.229224
62616     0.859019       0.641470  0.000011  0.000054  3.996478e-07  0.229264
62617     0.857870       0.641914  0.000011  0.000054  3.996478e-07  0.229304
62624     0.861152       0.644578  0.000015  0.000074  5.328637e-07  0.229584
62625     0.861973       0.645799  0.000014  0.000070  4.995598e-07  0.229624

[18789 rows x 11 columns] 1        0
5        0
7        0
15       0
18       0
        ..
62615    0
62616    0
62617    0
62624    0
62625    0
Name: Fire Alarm, Length: 18789, dtype: int64

In [19]:
smote = SMOTE()
x_train_smote, y_train_smote = smote.fit_resample(x_train, y_train)
model=RandomForestClassifier()
#fit model
model.fit(x_train_smote, y_train_smote)
y_pred_test=model.predict(x_test)
y_pred_train=model.predict(x_train_smote)
test_acc = accuracy_score(y_test,y_pred_test)
train_acc = accuracy_score(y_train_smote,y_pred_train)
print('test_acc: ', test_acc)
print('train_acc: ', train_acc)
print(pd.crosstab(y_test,y_pred_test))
print(classification_report(y_test, y_pred_test))

test_acc:  1.0
train_acc:  1.0
col_0          0      1
Fire Alarm
0           5344      0
1              0  13445
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5344
           1       1.00      1.00      1.00     13445

    accuracy                           1.00     18789
   macro avg       1.00      1.00      1.00     18789
weighted avg       1.00      1.00      1.00     18789

In [20]:
from __future__ import print_function
import numpy as np 

# đánh giá thuật toán
def cm2pr_binary(cm):
    p = cm[0,0]/np.sum(cm[:,0])
    r = cm[0,0]/np.sum(cm[0])
    f = 2*((p*r)/(p+r))
    s = cm[1,1]/np.sum(cm[:,1])
    return (p, r,f,s)

# tính toán ConfusionMatrix
x = set(y_test)
y = len(x)

conf_matrix = pd.DataFrame(np.zeros((y, y),dtype=int),
                           index=x,
                           columns= x)

for true_label, prediction in zip(y_test ,y_pred_test): # thay đổi 2 tập này 
    conf_matrix.loc[true_label, prediction] += 1
    
# kết quả

p,r,f,s = cm2pr_binary(conf_matrix.to_numpy())
print("precition = {0:.2f}, recall = {1:.2f}, f1 = {2:.2f}, specificity = {3:.2f}".format(p, r,f,s))

precition = 1.00, recall = 1.00, f1 = 1.00, specificity = 1.00